@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

body {
  overflow: hidden;
  position: relative;
}

.content {
  height: 100vh;
}

.opacity-1 {
  opacity: 1 !important;
}

.bg-photo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg.jpg");
}

.scroll {
  overflow-y: scroll;
}

.form {
  padding: 60px 50px;
}

.form input {
  border: 0px;
  border-bottom: 1px black solid;
  border-radius: 0;
}

.form input:focus {
  box-shadow: 0 0 0;
  border-bottom: 2px black solid;
}

.form button {
  text-align: right;
}

.bg-bluish {
  background-color: #345870;
}

.bg-button {
  color: #dcdfe4;
}

.center-form {
  position: absolute !important;
  z-index: 1000;
  width: 600px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  display: none;
}

.radius {
  border-radius: 25px !important;
}

.radius-top {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.logo {
  font-family: "Raleway Dots", cursive;
  font-size: 70px;
  color: white;
  text-shadow: 0 0 10px white;
}

.dropdown-toggle::after {
  display: none !important;
}
