{% extends 'base.html' %} {% block content %}

<form action="" method="POST">
  <h3 class="mt-3 mb-4 text-light">Add category</h3>
  <div class="form-group text-light">
    <label for="disabledTextInput">Category Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      placeholder="Category name"
      name="category_name"
    />
  </div>
  <input name="user_id" value={{ session['id'] }} class="d-none" />
  <div class="form-group text-right">
    <button type="submit" class="btn btn-light">Add Category</button>
  </div>
</form>

{% endblock %}
