{% extends 'base.html' %} {% block content %}

<div class="bg-photo">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-8 mx-auto text-center text-light pt-1">
        <h4>Task manager</h4>
        <p>Simple app that will help you to keep track of your daily tasks.</p>
        <div class="">
          <a role="button" class="btn btn-primary m-1" href="{{ url_for('task_manager') }}">
            Start
          </a>
          <a role="button" class="btn btn-warning m-1" href="{{ url_for('index') }}"> About app </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
